body {
    color: white;
    background-color: black;
    background-image: url("https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwj-w_qpg93fAhXl54MKHUTlDbQQjRx6BAgBEAU&url=http%3A%2F%2Fworldartsme.com%2Ffree-bat-clipart.html&psig=AOvVaw0ihiIRmAjnz-754ymSWF8w&ust=1546997073469038")
    
  }